<div class="container">
    <div class="header">
        <h1>Account List</h1>
    </div>

    <div *ngIf="user?.role != 'User'" class="search-container" >
        <input type="number" id="card" placeholder="Search by card number..." class="hidden2 form-control">
        <input type="number" id="deposit" placeholder="Deposit From ..." class="hidden form-control">
        <input type="number" id="deposit2" placeholder="Deposit To ..." class="hidden form-control">

        <select id="mySelect" (change)="logSelectedItem()" class="form-control" style="height: 2%;">
            <option>none</option>
            <option value="card">Card Number</option>
            <option value="deposit">Deposit</option>
        </select>
        <button (click)="search()" class="btn btn-success">Search</button>
        <button (click)="Back()" class="btn btn-danger">Back</button>
        <button (click)="Add()" *ngIf="user?.role === 'Admin' || user?.role === 'Maneger'" class="btn btn-success">Add</button>
    </div>

<hr>


    
    <table id="table" style="width:90%;margin-left: 5%;">
        <div *ngFor="let item of observer$ | async">
        <tr  >
            <td style="width:10%;">
                <p class="text">{{item.cardNumber}}</p>
            <td>
            <td style="width:10%;">
                <p class="text">{{item.deposit}}</p>
            <td>
            <td style="width:10%;">
                <p class="text">{{item.phoneNumber}}</p>
            <td>
                <td><button class="btn btn-warning" style="width:90%;" (click)="Update(item)">Update</button><td>
                <td><button class="btn btn-danger"  style="width:90%;" (click)="Delete(item.cardNumber)">Delete</button><td>
                
        </tr>
    </div>
    @if (show) {
        <div class="button-container">
            <button (click)="brevious()" class="btn btn-success">Back</button>
            <button (click)="next()" class="btn btn-danger">Next</button>
          </div>
    }
    </table>


</div>
