<div class="container">
    <div class="header">
        <h1>ATM</h1>
    </div>
    
    <div class="atm-options">
        <button class="btn btn-success" (click)="navigateTo('balance')">Check Balance</button><br><br>
        <button class="btn btn-success" (click)="navigateTo('draw')">Withdraw Money</button><br><br>
        <button class="btn btn-success" (click)="navigateTo('deposit')">Deposit Money</button><br><br>
        <button class="btn btn-danger" (click)="navigateTo('atm-login')">back</button>
    </div>
</div>
